<div class="container-fluid bg-primary m-0 p-0">
    <div class="col-md-12">
        <div class="col-md-12 d-flex justify-content-center">
            <img src="qualquercoisa/projeto.png">
        </div>
        <div class="col-md-12 d-flex">
            <div class="col-md-6">
                <button class="bg-transparent border-0">Sair</button>
            </div>
            
            <div class="col-md-6">
                <button class="bg-transparent border-0">Account Settings</button>
            </div>
        </div>
    </div>
</div>